altgraph==0.17.5
certifi==2026.1.4
cffi==2.0.0
commonX==0.6.40
curl_cffi==0.14.0
jmcomic==2.6.13
packaging==26.0
pefile==2024.8.26
pillow==12.1.0
pycparser==3.0
pycryptodome==3.23.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pywin32-ctypes==0.2.3
PyYAML==6.0.3
setuptools==82.0.0
